/* ============== Hero styles ============== */
.hero-section {
	background: url('../../Assets/Pizza.jpg');
	height: 100vh;
	flex-direction: column;
}
.hero-cta {
	font-size: 3.2rem;
	background-color: #33333355;
	color: #e8e6e3;
	padding: 2%;
	border-radius: 8px;
}

.hero-button {
	width: 8%;
	height: 5%;
	border: none;
	border-radius: 5px;
	font-size: larger;
	min-width: 100px;
	color: #e8e6e3;
}
